*{box-sizing: border-box;}

body {background-color: lightGray;
}
div {
	border: 1px solid black;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}
.logo {
  float: left;
}
.links > li {
	float: right;
	display: inline-block;
  padding: 1.5em 1em;
}






