*{box-sizing: border-box;}

body {background-color: lightGray;
}
div {
	border: 1px solid black;
}

html {
  -webkit-font-smoothing: antialiased;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
}
.logo {
  float: left;
  margin-left: 5em;
  margin-right: 12em;
}
.links > li {
	float: left;
	display: inline-block;
  padding: 1.75em 0.95em;
}
.top-navigation .links > .active {
  color: #4c5058;
  font-weight: 600;
}

a:hover {
  color: black;
}
a.menu_links {
  cursor: pointer;
}









